[submodule "crates/kurit-template/src/deps/normailze.css"]
	path = crates/kurit-template/src/deps/normailze.css
	url = https://github.com/necolas/normalize.css.git
[submodule "crates/kurit-devserver"]
	path = crates/kurit-devserver
	url = https://github.com/AkiaCode/kurit-devserver.git
